beautifulsoup4
boto
boto3
botocore
certifi
docutils
Flask
Flask-Login
fuzzywuzzy
GeoAlchemy2
geopy
gunicorn
itsdangerous
Jinja2
jmespath
joblib
Logentries
MarkupSafe
mechanize
memory-profiler
psycopg2-binary
pymongo
python-dateutil
python-firebase
python-Levenshtein
requests
s3transfer
playwright
sendwithus
six
SQLAlchemy
urllib3
Werkzeug
