{% extends "layout.html" %}
{% block style %}
<style>
</style>
{% endblock %}

{% block body %}
    <div class="container">
        <h4>
            An unofficial portal to enable statewide searches for the <a href="http://wasdmz2.courts.state.va.us/CJISWeb/circuit.jsp">Virginia Courts Case Information</a> website.
        </h4>

        <form id="searchForm" role="form" onSubmit="return onSubmit();">
            <div class="form-group">
                <label for="search">Search</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="search" placeholder="Name">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                </div>
            </div>
        </form>
        <div class="row text-muted">
            <div class="col-xs-6 text-right">
                <div>Syntax: lastname, firstname </div>
                <div>Syntax: partial_lastname  </div>
            </div>
            <div class="col-xs-6 text-left">
                <div>Example: Smith, John </div>
                <div>Example: Smi</div>
            </div>
        </div>

        <div id="disclaimer" class="text-center">
            <div class="row" style="margin: 20px 0">
                <div class="col-sm-8 col-sm-offset-2">
                    The Circuit Courts of Alexandria and Fairfax do not use the
                    statewide Circuit Case Management System, and are not
                    currently supported by this tool.
                </div>
            </div>
        </div>

        <div class="footer">
        </div>
    </div>
{% endblock %}
